.header__logo {
    margin: 0;
    width: 142.01px;
    max-width: 100%;
    padding: 45px 0 40.6px;
    transition: opacity .4s;
}

@media all and (max-width: 882px) {
    .header__logo {
        width: 103.74px;
        padding: 28px 27px 31.6px;
    }
}