@import url('./__container/page__container.css');
@import url('./__header-and-main-wrapper/page__header-and-main-wrapper.css');

.page {
    background: #000;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}