.popup__close {
  margin: 0 auto;
  position: absolute;
  right: -8%;
  top: -10%;
  width: 40.7px;
  height: 40.7px;
  background-image: url(../../../images/close.svg);
  border: none;
  background-size: cover;
  background-color: transparent;
  outline: none;
}