.card__recycle-bin {
    margin: 0;
    padding: 0;
    background: url(../../../images/trash.svg) 50% no-repeat;
    border: none;
    align-self: center;
    position: absolute;
    right: calc(15% - 24px);
    top: 18px;
    height: 24px;
    width: 24px;
}
/* 
.card__recycle-bin::before {
    background: radial-gradient(#e66465 0, transparent 90%);
} */