.register__link {
  width: 100%;
  height: 100%;
  background: #FFF;
  border-radius: 2px;
  margin: 216px auto 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: none;
  transition: .2s linear;
}

.register__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 790px) {
  .register__link {
    font-size: 16px;
    line-height: 19px;
  }
}
