@import url("./__button-container/register__button-container.css");
@import url("./__form/register__form.css");
@import url("./__welcome/register__welcome.css");
@import url("./__link/register__link.css");
@import url("./__signin/register__signin.css");
@import url("./__login-link/register__login-link.css");

.register {
  display: flex;
  margin: 60px auto 0;
  flex-direction: column;
  width: 358px;
  background-color: blueviolet;
}

@media screen and (max-width: 790px) {
  .register {
    width: 260px;
  }
}
