@import url(./__image/card__image.css);
@import url(./__title/card__title.css);
@import url(./__like-count/card__like-count.css);
@import url(./__recycle-bin/card__recycle-bin.css);
@import url(./__recycle-bin/_hidden/card__recycle-bin_hidden.css);
@import url(./__like/card__like.css);
@import url(./__like/_active/card__like_active.css);

.card {
    display: grid;
    grid-template-areas: 'image image' 'title like' 'title count';
    grid-template-columns: 85% 15%;
    grid-template-rows: 282px 40px 40px; /*высота ширина карточки */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    color: #000;
    transition: box-shadow .6s;
    position: relative;
}

.card:hover {
    box-shadow: 0 0 10px #4E52B0;
}

.card:hover .card__image{
    transform: scale(1.05);
}