.card__like{
    margin: 0 35px 0 0 ;
    padding: 0;
    height: 24px;
    width: 24px;
    background: url(../../../images/heart.svg) center no-repeat;
    border: none;
    align-self: end;
    justify-self: center;
    grid-area: like;
    background-color: transparent;
}

.card__like:active{
    background: url(../../../images/heart_black.svg) center no-repeat;
}

.card__like:hover {
    transform: scale(1.3);
}