.register__button-container {
  width: 100%;
  height: 50px;
  color: #000;
  background: #fff;
  border-radius: 2px;
  margin: 216px auto 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  transition: 0.2s linear;
}

.register__button-container:hover {
  opacity: 0.8;
}

@media screen and (max-width: 790px) {
  .register__button-container {
    height: 46px;
    font-size: 16px;
    line-height: 19px;
  }
}
