.popup__input{
  width: calc(100% - 5px);
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-family: inherit;
  line-height: 17px;
  color: #000000;
  vertical-align: text-bottom;
  border-radius: 0;
}

.popup__input:focus{
  outline-width: 0;
}

.popup__input::-webkit-input-placeholder, .popup__input::-moz-placeholder, .popup__input::-ms-input-placeholder, .popup__input::placeholder{
  line-height: 20px;
  color: #bcbcc4;
}